<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>代码挑战 - JSOJ</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css">

    <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/codemirror/theme/darcula.css">
    <link rel="stylesheet" href="/codemirror/addon/fold/foldgutter.css"/>
    <style>
        [v-cloak]{
            display: none;
        }

        .box-card{
            margin-bottom: 20px;
        }

        .CodeMirror-scroll{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .que_title{
            line-height: 0;
            font-weight: 300;
            font-size: 18px;
            margin: 0px;
        }
        .el-dropdown-menu a{
            text-decoration: none;
        }
    </style>
</head>
<body>

<div id="app" v-cloak>

    <el-container>
        <el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="1" style="font-size: 38px;color: #409EFF;font-weight: 700;margin-right: 50px;">
                    JSOJ</el-menu-item>
                <el-menu-item index="2">排行榜</el-menu-item>
                <el-menu-item index="3">题库列表</el-menu-item>
                <el-menu-item index="4">通过记录</el-menu-item>
                <el-menu-item index="5">匹配竞赛</el-menu-item>
            </el-menu>

            <div style="position: absolute;top: 10px;right: 80px;" index="4">

                <el-dropdown>
                    <div class="el-dropdown-link">
                        <el-avatar :src="user.headImg"></el-avatar>
                    </div>
                    <el-dropdown-menu slot="dropdown">
                        <a href="/user"><el-dropdown-item><i class="el-icon-user"></i> {{user.niconame}} </el-dropdown-item></a>
                        <a href="/logout"><el-dropdown-item><i class="el-icon-switch-button"></i> 退出</el-dropdown-item></a>
                    </el-dropdown-menu>
                </el-dropdown>

            </div>
        </el-header>

        <el-main>

            <el-row type="flex" justify="center" >
                <el-col :md="14" :sm="20" :xs="24">

                    <el-card class="box-card" v-loading="loading">
                        <div slot="header" class="clearfix">
                            <span class="que_title">{{questiondata.title}} </span>
                            <el-tag size="mini" effect="dark">{{'+'+questiondata.score}}</el-tag>
                        </div>
                        <div class="text item" v-html="questiondata.description">

                        </div>
                    </el-card>

                    <textarea style="display: none" class="form-control" id="code" name="code"></textarea>

                    <div style="margin-top: 20px">
                        <el-button :loading="getloading" type="primary" size="small" @click="runOn"><i class="el-icon-video-play" ></i> 提交运行</el-button>
                    </div>
                </el-col>
            </el-row>

        </el-main>

    </el-container>

    <el-dialog
            title="恭喜，运行通过"
            :visible.sync="dialogVisible"
            width="30%">
        <span>运行耗时：<el-link type="success">{{runtime}} ms</el-link></span>
        <br>
        <span>击败人数：<el-link type="danger">{{beatPercent}}</el-link></span>
        <br>
        <span>本月分数：+ {{questiondata.score}}</span>
        <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">关 闭</el-button>
    <el-button type="primary" @click="randomQue">随机挑战</el-button>
  </span>
    </el-dialog>

</div>

</body>
</html>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>

<script src="/codemirror/lib/codemirror.js"></script>
<script src="/codemirror/mode/javascript/javascript.js"></script>
<script src="/codemirror/addon/fold/foldcode.js"></script>
<script src="/codemirror/addon/fold/foldgutter.js"></script>
<script src="/codemirror/addon/fold/brace-fold.js"></script>
<script src="/codemirror/addon/fold/comment-fold.js"></script>

<script>

    var editor;

    function editor(questionInit) {
        editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            mode: "text/javascript",
            lineNumbers: true,  //显示行号
            theme: "darcula", //设置主题
            lineWrapping: true, //代码折叠
            matchBrackets: true,  //括号匹配
            scrollbarStyle:null,
            foldGutter: true,
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
            styleActiveLine: true
        });
        editor.setSize('100%', '400px');
        editor.setValue(questionInit);
    }

    var vm = new Vue({
        el:"#app",
        data() {
            return {
                activeIndex: '1',
                loading:true,
                questiondata:{},
                qid:"a54f4765a2c8d7c1",
                code:"",
                dialogVisible:false,
                runtime:"",
                beatPercent:"",
                user:{},
                getloading:false
            };
        },
        methods:{
            handleSelect(key){

                var atr = "";

                switch (key) {
                    case "1":
                        atr="/";
                        break;
                    case "2":
                        atr="/rank";
                        break;
                    case "3":
                        atr="/question";
                        break;
                    case "4":
                        atr="/record";
                        break;
                    case "5":
                        atr="/companies";
                        break;

                }

                window.location.href = atr;
            },
            runOn(){
                var that = this;
                this.getloading = true;
                axios.post("/api/checkAnswer",{
                    id:that.qid,
                    code:editor.getValue()
                }).then(function (response) {

                    var data = response.data;
                    
                    if (data.msg=="未通过"){
                        that.$message({
                            message: "提交未通过！",
                            type: 'error'
                        })
                    }else if (data.status==1&&data.msg.indexOf("禁止重复提交本题")>0){
                        that.$message({
                            message: data.msg,
                            type: 'error'
                        })
                    }else if (data.status==0) {
                        that.runtime = data.data.split("::")[0];
                        that.beatPercent = data.data.split("::")[1];
                        that.dialogVisible=true
                    }
                    that.getloading = false;
                }).catch(function (err) {
                    console.log(">>>>> "+err);
                    that.$message({
                        message: "获取数据异常",
                        type: 'error'
                    });
                    that.getloading = false;
                })
            },
            randomQue(){
                axios.get("/api/getRandomQuestion").then(function (response) {

                    var data = response.data.data;

                    window.location.href="/code/"+data.id;

                })
            }


        },
        created:function () {
            var that = this;
            var uri = window.location.href.split("/");
            var que_id = uri[uri.length-1];
            axios.get("/api/getQuestion/"+que_id).then(function (response) {
                var data = response.data.data;
                that.questiondata = data;
                that.qid = data.id;
                that.loading = false;
                editor(data.questionInit);

            }).catch(function (err) {
                console.log(err);
                that.$message({
                    message: "获取数据异常",
                    type: 'error'
                })
            })
            axios.get("/api/getUser/").then(function (response) {
              that.user = response.data.data;

            })
        }

    })



</script>